<div class="carousel-item%class%">
	<img src="https://dummyimage.com/800x300/ffffff/ffffff.png&text=+">
	<div class="carousel-caption d-md-block">
		<h1 class="carousel-title"><a href="/publication.php?id=%id%">%subject%</a></h1>
		<div class="carousel-intro">
			<h5>%introtext%</h5>
			<span>
				<span class="nowrap"><i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;%date%</span>
				<span class="nowrap"><i class="oi oi-person" aria-hidden="true"></i>&nbsp;%user%</span>
				<span class="nowrap"><i class="oi oi-comment-square" aria-hidden="true"></i>&nbsp;%comments%</span>
			</span>
		</div>
	</div>
</div>